<ion-toolbar>
  <ion-title>
    BlockLife
  </ion-title>
</ion-toolbar>

<ion-content>
    <br>
    <ion-title>Institution Name: {{name}}</ion-title>
    <br> 
    <br>
    <ion-button (click)="refresh()" style="width: 15%">Refresh</ion-button>
    <figure>
      <ion-list-header>
        <ion-title>ID</ion-title>
        <ion-title>Content</ion-title>
      </ion-list-header>
      <ion-list *ngFor="let feedback of feedbacks">
        <ion-item>
          <ion-label> {{ feedbacks.indexOf(feedback) }}</ion-label>
          <ion-label> {{ feedback.text }}</ion-label> 
          <ion-icon name="close" style="width: 5%;color: crimson;" slot='end' (click)="handleInvalidate(feedback)"></ion-icon>
        </ion-item>
      </ion-list>
    </figure>
  </ion-content>
  