<ion-content>
  <ion-item>
    <ion-label position="stacked">Search User</ion-label>
    <ion-input clearInput (input)="validateInput($event.target.value)" placeholder="Enter Address of User"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="handleClick()">Go <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>

  <ion-list *ngFor="let interaction of interactions">
    <ion-item>
      <ion-label> {{ interaction.id }}</ion-label>
      <ion-title> {{ interaction.hash }}</ion-title> 
      <ion-avatar>
        <ion-img [src]="interaction.imageUrl"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
