<ion-content>
  <ion-item>
    <ion-label position="stacked">Search a User</ion-label>
    <ion-input clearInput (input)="validateInput($event.target.value)" placeholder="Enter Address of User"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="handleClick()">Go <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
  <br>
  <ion-list-header>
    <ion-title>interaction id</ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title>hash</ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title>preview</ion-title>
    <ion-title> </ion-title>
  </ion-list-header>
  <ion-list *ngFor="let interaction of interactions">
    <ion-item>
      <ion-label> {{ interaction.id }}</ion-label>
      <ion-title> {{ interaction.hash }}</ion-title> 
      <ion-img style="width: 100px; height: 100px;"  [src]="interaction.imageUrl"></ion-img>
      <ion-button (click)="remove(interaction)">remove</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
