.idea/checkstyle-idea.xml
.idea/Local Repos.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
BackEnd/package-lock.json
BackEnd/build/contracts/Migrations.json
BackEnd/build/contracts/Ecosystem.json
FrontEnd/package-lock.json
BackEnd/build/contracts/BlockEcosystem.json
BackEnd/build/contracts/SafeMath.json
