<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BlockLife
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>My certificate hashes</ion-title>
  </ion-toolbar>

  <ion-list-header>
    <ion-title>id</ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title>hash</ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title> </ion-title>
    <ion-title>preview</ion-title>
    <ion-title> </ion-title>
  </ion-list-header>
  <ion-list *ngFor="let interaction of interactions">
      <ion-item>
        <ion-label> {{ interaction.id }}</ion-label>
        <ion-title>{{ interaction.hash }}</ion-title> 
        <ion-img style="width: 100px; height: 100px;"  [src]="interaction.image"></ion-img>
        <ion-button (click)="remove(interaction)">remove</ion-button>
      </ion-item>

  </ion-list>

</ion-content>

