<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Register Institution
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-content [fullscreen]="true">
      <ion-item>
        <ion-label position="stacked">New Institution Address</ion-label>
        <ion-input id="institution-address-input" clearInput (input)="onInstitutionAddressChange($event.target.value)" placeholder="Enter Address of Institution"></ion-input>
        <ion-label position="stacked">New Institution Name</ion-label>
        <ion-input id="institution-name-input" clearInput (input)="onInstitutionNameChange($event.target.value)" placeholder="Enter Name of Institution"></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="registerInstitution()">Go <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-buttons>
      </ion-item>
  </ion-content>
  