<ion-content>
  <ion-item>
    <ion-label position="stacked">Search An Institution</ion-label>
    <ion-input clearInput (input)="validateInput($event.target.value)" placeholder="Enter Address of Institution"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="handleClick()">Go <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>

  <ion-list *ngFor="let feedback of feedbacks">
    <ion-item>
      <ion-label> {{feedbacks.indexOf(feedback)}} </ion-label>
      <ion-title> {{feedback.text}} </ion-title> 
    </ion-item>
  </ion-list>
</ion-content>
