<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search_institution">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search Institution</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search_user">
      <ion-icon name="people"></ion-icon>
      <ion-label>Search User</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload_interaction">
      <ion-icon name="send"></ion-icon>
      <ion-label>Upload Interaction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="view_history">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Uploaded Interactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register_institution">
      <ion-icon name="add"></ion-icon>
      <ion-label>Register Institution</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>
