<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      View Given Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="load()" style="width: 15%">Load</ion-button>
  <ion-list-header>
    <ion-title>ID</ion-title>
    <ion-title>Feedback Content</ion-title>
    <ion-title>   </ion-title>
    <ion-title>   </ion-title>
    <ion-title>   </ion-title>
    <ion-title>Institution</ion-title>
  </ion-list-header>

  <ion-list *ngFor="let feedback of feedbacks">
    <ion-item class='row'>
      <ion-text slot='start' class='col'> {{ feedback.id }}</ion-text>
      <ion-title class='col'> {{ feedback.text }}</ion-title>
      <ion-text slot='end' class='col'> {{ feedback.recipient }}</ion-text>
      <ion-icon name="close" style="width: 5%;color: crimson;" slot='end' (click)="handleInvalidate(feedback)"></ion-icon>
    </ion-item>
</ion-list>
</ion-content>
