<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BlockLife
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="fetchAddress()">Get User [0] Address</ion-button>
  <ion-button expand="full" (click)="checkContractOwner()">Check Ecosystem Owner</ion-button>
  <ion-button (click)="loginPage()">Go to Login Page</ion-button>


</ion-content>
